<mat-toolbar></mat-toolbar>
<div class="sponsors-style">

  <div>
    <div class="container">
      <h2>Companies</h2>
      <ul>
        <li>unsplash</li>
        <li>coverr</li>
        <li>google</li>
        <li class="clear"></li>
      </ul>
    </div>
    <div class="container">
      <h2>Supporters</h2>
      <ul>
        <li><a href="https://www.youtube.com/watch?v=0q9FOeEELPY&t=1205s" target="_blank">Kara Erickson</a></li>
        <li><a href="https://www.youtube.com/watch?v=0q9FOeEELPY&t=1205s" target="_blank">Kara Erickson</a></li>
        <li><a href="https://www.youtube.com/watch?v=0q9FOeEELPY&t=1205s" target="_blank">Kara Erickson</a></li>
        <li class="clear"></li>
      </ul>
    </div>
  </div>

</div>




