<div class="box-style">
  <div class="background-style"></div>
  <div class="content-style">
    <div class="title">
      <h3>Patagonia</h3>
    </div>
    <button mat-fab class="button-style">
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras elementum. Pellentesque sapien. Cras elementum. Proin in tellus sit amet nibh dignissim sagittis. Quisque porta. Quisque tincidunt scelerisque libero. Maecenas sollicitudin. Fusce nibh. Ut tempus purus at lorem. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. In enim a arcu imperdiet malesuada. Pellentesque pretium lectus id turpis. Nunc auctor. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit.</p>
    </div>
  </div>
</div>


