<mat-toolbar></mat-toolbar>
<div class="container-style">

  <div *ngFor="let article of articles"
       [class.selected]="article === selectedArticle"
       class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{article.description}}</mat-card-title>
        <mat-card-subtitle>{{article.date}}</mat-card-subtitle>
      </mat-card-header>
        <img mat-card-image src={{article.gallery[0]}}>
      <mat-card-content>
        <p>
          {{article.content[0]}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button  (click) = onSelect(article) mat-button>READ</button>
        <button mat-button>MAP</button>
        <button mat-button>GALLERY</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div style="clear: both;"></div>

</div>






