
.full-width {
  width: 100%;
}

.card-style {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  min-width: 300px;
}

#video-background {
  position: fixed;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

.message-style {
  height: 150px;
}

.contact-style{
  height: 100%;
  width: 100%;
  margin: auto;
}

.button-send-style{
  left: 42%;
}





