<mat-toolbar color="accent" class="mat-elevation-z10 toolbar-style">
  <div id="menu-buttons">
    <button mat-button routerLink="home">Home</button>
    <button mat-button routerLink="articles">Articles</button>
    <button mat-button routerLink="contact">Contact</button>
  </div>
  <div id="menu-hamburger">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="home">Home</button>
      <button mat-menu-item routerLink="articles">Articles</button>
      <button mat-menu-item routerLink="contact">Contact</button>
    </mat-menu>
  </div>
  <span class="spacer"></span>

  <button mat-icon-button appToggleFullscreen>
    <mat-icon>fullscreen</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="more">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #more="matMenu">
    <button mat-menu-item>Theme</button>
    <button mat-menu-item>Language</button>
  </mat-menu>

</mat-toolbar>







